body{
  font-size: 100%;
  font-family: arial, sans-serif;
  margin: 0;
  padding: 0;
}
h1{
  font-family: georgia, serif;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
abbr{
  text-decoration: none;
}
/* Navigation styles */
div#nav{
  float: left;
  width: 10%;
}
div#nav ul{
  list-style-type: none;
  margin: 0;
  padding: 8px;
}
/* main section styles */
div.hfeed{
  float: left;
  width: 89%;
  font-size: 80%;
  border-left: 1px solid black;
}
/* article styles */
div.hentry{
  float: left;
  width: 24.9%;
  height: 15em; /* yuck, fixed height, but necessary */
  max-height: 15em;
  overflow: hidden;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
div.hentry h1{
  font-size: 1.2em;
}
div.hentry h1, div.hentry p{
  padding-left: 3px;
  padding-right: 3px;
}
div.hentry img{
  float: right;
  margin: 2px;
  padding: 2px;
  border: 1px solid black;
}
/* footer */
div#footer{
  clear: both;
  padding-left: 8px;
  padding-top: 6px;
  font-size: 80%;
}