<!DOCTYPE html>
<html>
  <head>
    <title>
      Guardian Skimmer
    </title>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen">
  </head>
  <body>
    <div id="nav">
      <ul>
				<li><a href="{% url skim search="uk" %}">UK</a></li>
        <li><a href="{% url skim search="world" %}">World</a></li>
        <li><a href="{% url skim search="world/usa" %}">United States</a></li>
        <li><a href="{% url skim search="politics" %}">Politics</a></li>
        <li><a href="{% url skim search="media" %}">Media</a></li>
        <li><a href="{% url skim search="education" %}">Education</a></li>
        <li><a href="{% url skim search="society" %}">Society</a></li>
        <li><a href="{% url skim search="science" %}">Science</a></li>
        <li><a href="{% url skim search="technology" %}">Technology</a></li>
        <li><a href="{% url skim search="football" %}">Football</a></li>
      </ul>
    </div>
    {% block content %}
      
    {% endblock %}
    
    <div id="footer">
      <p>Powered by <a href="http://www.guardian.co.uk/open-platform">Guardian Open Platform</a>, <a href="http://www.djangoproject.com/">Django</a> and <a href="http://www.markng.co.uk/">Mark Ng</a></p>
    </div>
  </body>
</html>